.Letra_Pestaña-Titulo{
  font-size: 30px;
  font-style: normal;
  font-weight: 700;

  color: blue;
}

.Letra_Pestaña-Final{
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  color: black;
}

.Pestaña_Fondo{
  background-color: burlywood;
}

.Tarjeta_Fondo{
  background-color: bisque;
}


.Letra_Tarjeta-Titulo{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;

  color: crimson;
}

.Letra_Tarjeta-Cuerpo{
  font-size: 15px;
  font-style: normal;
  font-weight: 700;

  color: black;
}

.Letra_Tarjeta-Link{
  font-size: 15px;
  font-style: italic;
  font-weight: 700;

  color: blue;
  text-decoration: underline;
}


