<article>

  <main>
    <section style="margin: 2rem 10rem; border-color: black; border-style: groove;">

      <div class="card mb-3 Pestaña_Fondo">
        <img src="https://wallpapercave.com/wp/wp3543099.jpg" class="card-img-top" alt="..."
          style="width: 100%; height: 25rem;">
        <div class="card-body">
          <h5 class="card-title Letra_Pestaña-Titulo">Control de Alquiler de Autos</h5>

          <div class="row">
              <div class="card col-sm-6 Tarjeta_Fondo" style="width: 18rem; border-color: black; border-style: groove; margin-left: 1rem;">
                <div class="card-body">
                  <h5 class="Letra_Tarjeta-Titulo">Busca, Registra, Elimina o Actualiza!</h5>
                  <p class=" Letra_Tarjeta-Cuerpo">Alquiler</p>
                  <a class=" Letra_Tarjeta-Link" href="Web_Services/Catalogo/Api_Autos/Alquiler"> Entrar </a>
                </div>
              </div>

              <div class="card col-sm-6 Tarjeta_Fondo" style="width: 18rem; border-color: black; border-style: groove; margin-left: 1rem;">
                <div class="card-body">
                  <h5 class="Letra_Tarjeta-Titulo">Busca, Registra, Elimina o Actualiza!</h5>
                  <p class="Letra_Tarjeta-Cuerpo">Autos</p>
                  <a class="Letra_Tarjeta-Link" href="Web_Services/Catalogo/Api_Autos/Autos"> Entrar</a>
                </div>
              </div>

              <div class="card col-sm-6 Tarjeta_Fondo" style="width: 18rem; border-color: black; border-style: groove; margin-left: 1rem;">
                <div class="card-body">
                  <h5 class="Letra_Tarjeta-Titulo">Busca, Registra, Elimina o Actualiza!</h5>
                  <p class="Letra_Tarjeta-Cuerpo">Clientes</p>
                  <a class="Letra_Tarjeta-Link" href="Web_Services/Catalogo/Api_Autos/Clientes"> Entrar</a>
                </div>
              </div>

              <div class="card col-sm-6 Tarjeta_Fondo" style="width: 18rem; border-color: black; border-style: groove; margin-top: 1rem; margin-left: 1rem;">
                <div class="card-body">
                  <h5 class="Letra_Tarjeta-Titulo">Busca, Registra, Elimina o Actualiza!</h5>
                  <p class="Letra_Tarjeta-Cuerpo">Distribuidores</p>
                  <a class="Letra_Tarjeta-Link" href="Web_Services/Catalogo/Api_Autos/Distribuidores"> Entrar</a>
                </div>
              </div>
            </div>


          <p class="card-text " style="margin-top: 2rem;"><small class="Letra_Pestaña-Final">Web Service with Api Docker</small>
          </p>

        </div>
      </div>


    </section>
  </main>

</article>
