
    <div class="imagen">
        <h2>¡Bienvenidos!</h2>
        <h2></h2>
        <h2>¡Les deseamos un buen día!</h2>
    </div>

    <div class="Entrada sombra">
        <section>
            <p>Nosotros damos por dado en:</p>
            <li>Ofrecer una gran variedad de contenido informativo.</li>
            <li>Mostrar información veraz y precisa.</li>
            <li>Ayudar a las personas a compartir sus conocimientos.</li>
            <li>Ofrecer un sitio web amigable e intuitivo.</li>
            <li>Ayudar a las personas con la resolución de sus dudas.</li>
            <li>
                Facilitar información con un lenguaje entendible para estudiantes o
                personas interesadas en el tema.
            </li>
            <li>
                Proporcionar conceptos clave para facilitar el entendimiento de un
                tema.
            </li>
        </section>
    </div>

