.Navegacion_Letra-Titulo{
  font-size: 20px;
  font-weight: 700;
  font-style: italic;

  color: crimson;
}

.Navegacion_Letra-Opciones{
  font-size: 17px;
  font-weight: 700;
  font-style: normal;

  color: black;
}
