<app-api-autos-navegacion></app-api-autos-navegacion>

<div class="container">
  <div class="row align-items-start">
    <div class="col" *ngFor="let alquiler of Clientes">

    <div class="card" style="width: 18rem;" >
      <div>  </div> 
      <div class="card-body">
        <h5 class="card-title" *ngIf="!datos?.title">Card title</h5>
      </div>
      <ul class="list-group list-group-flush" *ngIf="!datos?.title">
        <li class="list-group-item"> <p  *ngIf="!datos?.title"> ID_Cliente {{alquiler.id_del_cliente}} </p></li>
        <li class="list-group-item"> <p  *ngIf="!datos?.title"> Nombre Cliente {{alquiler.nombre_del_cliente }} </p> </li>
        <li class="list-group-item"> <p  *ngIf="!datos?.title"> Direccion Cliente {{alquiler.direccion_del_cliente }} </p> </li>
        <li class="list-group-item"> <p  *ngIf="!datos?.title"> Telefono Cliente {{alquiler.telefono_del_cliente}} </p></li>
        <li class="list-group-item"> <p  *ngIf="!datos?.title"> Correo Cliente {{alquiler.correo_del_cliente }} </p> </li>
      </ul>
    </div>
    </div>
</div>

<div>
  wddadd
</div>
