<header>
  <div class="header">
    <div class="logo">
      <h1> <b class="Logo1"> Waifu.net</b></h1>
    </div>

    <div class="menu" id="show-menu">
      <nav>
        <ul>
          <li> <a href="Web_Services/Inicio"> Inicio </a></li>
          <li> <a href="Web_Services/Catalogo"> Catalogo </a></li>
          <li> <a href=""> Caja de Comentarios</a></li>
          <li> <a href="/MandarInfo"> Guardar Informacion</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="container-all" id="move-content"></div>
